<!DOCTYPE html>
<html>
<head>
  <title>to do</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >  
  <link rel="stylesheet" type="text/css" href="index.css">
  <script src="http://ijsuc.coding.me/jason/js/react-15.3.1/react.min.js"></script>
  <script src="http://ijsuc.coding.me/jason/js/react-15.3.1/react-dom.min.js"></script>
  <script src="http://ijsuc.coding.me/jason/js/jquery-3.0.0.min.js"></script>
</head>
<body>
  <div ng-controller="Tasks">
    <div class="window-wrapper">
      <div class="window-title">
        <div class="dots">
          <i class="fa fa-circle"></i>
          <i class="fa fa-circle"></i>
          <i class="fa fa-circle"></i>
        </div>
        <span class="title">My Simple Todo App</span>
      </div>
      <div class="controls">
        <div class="btns">
          <div class="add-task btn active">
            <i class="fa fa-plus"></i>
          </div>
          <div class="search-task btn" ng-click="showFunction('search');">
            <i class="fa fa-search"></i>
          </div>
          <div class="my-account">
            <div>
              <img src="https://secure.gravatar.com/avatar/de76e03aa6b5b0bf675c1e8a990da52f?s=32">
            </div>
            <div>
              <a href="http://codepen.io/CucuIonel">Cucu Ionel</a>
              <span>Logged in</span>
            </div>
          </div>
        </div>
        <div class="overlay">
          <div class="add-task active" id="add-task">
            <form ng-submit="insertTask();insert_task='';">
              <input type="text" ng-model="insert_task" placeholder="Add a task ...">
              <button ng-click="insertTask();insert_task='';" class="add-task-btn"><i class="fa fa-plus"></i></button>
            </form>
          </div>
          <div class="search-task" id="search-task">
            <input type="search" ng-model="search" placeholder="Search for a task ...">
            <button><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class="main-area">
        <ul>
          <li ng-repeat="task in tasks | filter:search" class="task">
            <div class="done-{{task.done}} status">
              <label for="task-{{$index}}">
                <i class="fa fa-check-square-o"></i>
                <i class="fa fa-square-o"></i>
                <input type="checkbox" ng-model="task.done" id="task-{{$index}}" ng-click="reloadStats();">
              </label>
              <span class="description">{{task.description}}</span>
              <i class="fa fa-times" ng-click="removeTask($index)"></i>
            </div>
          </li>
        </ul>
      </div>
      <div class="footer">
        <span>You have: {{tasks.length}} total items, {{undone}} undone items and {{done}} done items.</span>
      </div>
    </div>
  </div>
</body>
<!-- <script src="bundle.js"></script> -->
</html>